name: Library

on:
  push:
    paths:
      - 'lib/**'

jobs:
  build-wasm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: goto-bus-stop/setup-zig@v2
      with:
        version: master
    - run: zig build -Doptimize=ReleaseSmall
      working-directory: lib/src/dat-analysis
    - uses: actions/upload-artifact@v3
      with:
        name: wasm-artifact
        path: lib/src/dat-analysis/zig-out/lib/analysis.wasm
        retention-days: 1
        if-no-files-found: error

  build-lib:
    needs: build-wasm
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/download-artifact@v3
      with:
        name: wasm-artifact
        path: lib/dist
    - uses: actions/setup-node@v3
    - run: yarn
      working-directory: lib
    - run: yarn tsc
      working-directory: lib
    - run: npm pack
      working-directory: lib
    - uses: actions/upload-artifact@v3
      with:
        name: package
        path: lib/pathofexile-dat-*.tgz
        retention-days: 1
